@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background: url("../assets/hero-bg.jpg") no-repeat center center/cover;
    backdrop-filter: blur(10px);
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid white;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.left-side {
    position: relative;
    padding: 0;
}

.left-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.text-overlay h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-overlay p {
    color: white;
    font-size: 1rem;
}

.right-side {
    background: white;
    padding: 40px 20px;
}

.login-form .form-control {
    border-radius: 8px;
    padding: 10px;
}

.signin-btn {
    background: #FF8A00;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
}

.login-form a {
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 576px) {
    .login-box {
        flex-direction: column;
    }

    .left-side {
        display: none;
    }

    .right-side {
        padding: 20px;
    }

    .text-overlay h1 {
        font-size: 1.8rem;
    }

    .text-overlay p {
        font-size: 0.9rem;
    }
}

/* Logo */
.image {
    width: 70px;
    height: 50px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.form-control, .form-select{
    border: 1px solid black;
}

.signup-btn {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}