<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav class="navbar navbar-light bg-white px-4 shadow-sm">
        <a class="navbar-brand" href="/"><strong>Admin</strong><span class="text-primary">Panel</span></a>
        <div>
            <!--<a href="/" class="nav-link d-inline mx-2">Home</a>-->
            
           <!-- <a href="/contact-messages" class="nav-link d-inline mx-2">Messages</a>-->
            
        </div>
    </nav>

</body>
</html>